<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>List</servlet-name>
		<servlet-class>com.jhexperiment.java.inventory.ServletList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.jhexperiment.java.inventory.ServletUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.jhexperiment.java.inventory.ServletAdd</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.jhexperiment.java.inventory.ServletDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Suggest</servlet-name>
    <servlet-class>com.jhexperiment.java.inventory.ServletSuggest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Import</servlet-name>
    <servlet-class>com.jhexperiment.java.inventory.ServletImport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Export</servlet-name>
    <servlet-class>com.jhexperiment.java.inventory.ServletExport</servlet-class>
  </servlet>
  
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Suggest</servlet-name>
    <url-pattern>/suggest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Export</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Import</servlet-name>
    <url-pattern>/import</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>app.jsp</welcome-file>
	</welcome-file-list>

</web-app>
